.blog-date{
  opacity: 0.6;
}
.list-blogs{
  min-height: 500px;
  a{
    p{font-weight:300;}
  }
  .list-item{
    margin-bottom: 10px;
  }
}
@media (max-width: $toast-breakpoint-small) {
  .blog-date{
    display: none;
  }
}
