.blog-date {
  opacity: 0.6;
}

.list-blogs {
  min-height: 500px;
  a {
    p {
      font-weight: 400;
    }
  }

}
.list-item {
  padding: 25px 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;

	a {
		text-decoration: none;
		color: #222;
		font-weight: 400;
		&:hover {
			color: #194AFF;
		}
	}
}

.blog-container {
  margin-top: 50px;
  margin-bottom: 100px;
  .blog-description {
    opacity: 0.4;
    font-size: 0.9em;
  }
}

@media (max-width: $toast-breakpoint-small) {
  .blog-date {
    display: none;
  }
  .blog-container {
     margin-top: 30px;
  }
  .col{
    padding-left: 0;
  }
}