.blog-date {
  opacity: 0.6;
}

.list-blogs {
  min-height: 500px;
  a {
    p {
      font-weight: 400;
    }
  }

}
.list-item {
  border-radius: 6px;
  padding: 25px 20px;
  transition:0.5s all;

  &:hover{
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);

  }
  &:last-child{
    border-bottom: none;
  }

	a {
		text-decoration: none;
		color: #222;
		font-weight: 400;
		&:hover h3{
			color: #194AFF;
		}
	}
}

.blog-container {
  margin-top: 50px;
  margin-bottom: 100px;

  .blog-description {
    opacity: 0.4;
    font-size: 0.9em;
  }
}

@media (max-width: $toast-breakpoint-small) {
  .blog-date {
    display: none;
  }
  .blog-container {
     margin-top: 30px;
  }
  .col{
    padding-left: 0;
  }
}