/* Portfolio Page
========================================================================== */
.work-content {
	margin-top: 20px;
	background-color: white;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 20px;
	min-height: 286px;
	img {
		transition: all 100ms ease-in;
	}
}
