/* Template OpenSource
========================================================================== */
.opensource {
	padding: 80px 0;
	min-height: 300px;
	text-align: left;
	margin: 0 auto;
	max-width: 740px;
	font-weight: 300;
	p{
		margin-left: -20px;
	}
	hr {
		margin-bottom: 10px;
	}
}
.blog-title{
	p{
			border-bottom: 1px solid #ddd;
			display: inline-block;
	}
}

.list-view{
	width: 100%;
}
.list-item {
	.external-link{
		border-bottom: 1px solid #ddd;
	}
	padding-top: 3px;
	a {
		text-decoration: none;
		font-family: 'Merriweather', serif;
		color: #222;
		font-weight: 300;
		&:hover {
			color: #194AFF;
		}
	}

}
@media (max-width: $toast-breakpoint-small) {
	.opensource{
		h1{
			padding-left: 20px;
		}
		p{
			margin-left: 0px;
		}
	}

	.list-item {
		p {
			font-size: 1.2em;
			line-height: 35px;
		}
	}
	.opensource{
		padding-top: 0;
	}
}
