/* Template OpenSource
========================================================================== */

.opensource-container {
	margin-top: 100px;
	margin-bottom: 100px;
	font-weight: 400;
	h2 {
		padding-left: 20px
	}
	.external-link{
		margin-right: 20px;
	}
}

.list-view {
	width: 100%;
}

.list-item {
	padding: 20px 0px;
	.external-link {
		border-bottom: 1px solid #ddd;
	}
	a {
		text-decoration: none;
		color: #222;
		font-weight: 400;
		&:hover {
			color: #194AFF;
		}
	}
}

@media (max-width: $toast-breakpoint-small) {
	.opensource {
		h1 {
			padding-left: 20px;
		}
		p {
			margin-left: 0px;
		}
	}
	.list-item {
		p {
			font-size: 1.2em;
			line-height: 35px;
		}
	}
	.opensource {
		padding-top: 0;
	}
}