/* Container
   ========================================================================== */
.full-container{
	left: 0;
	margin: 0 auto;
	max-width: $large-container-margin+200;
	color: #222;
}
.container {
	left: 0;
	margin: 0 auto;
	max-width: $large-container-margin;
	color: #222;
}
@media (max-width: $toast-breakpoint-medium) and (min-width: $toast-breakpoint-small) {
	.container {
		left: 0;
		margin: 0 auto;
		max-width: $medium-container-margin;
		color: #222;
		padding: 0 10px;
	}
}
@media (max-width: $toast-breakpoint-small) {
	.container {
		left: 0;
		margin: 0 auto;
		max-width: $small-container-margin;
		color: #222;
		padding: 0 10px;

	}
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
