<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="post-container">
                <h1>30 Things I Learned From Spending a Year as a Designer</h1>
                <time class="post-time">15 June 2017</time>
                <section class="post-content">
                    <img src="img/office-space.jpg" alt="">
                    <ol>
                        <li>The design is not just about aesthetics. Its strategy, plan, and implementation.</li>
                        <li>The design is not an art. It's process of understanding our user and solving for their problem.</li>
                        <li>Stick with your design process it will take you a long way, don’t try to skip it.</li>
                        <li>Understand the difference between designing for dribbble and designing for people.</li>
                        <li>Treat your ideas as assumption hence it needed to be validated.</li>
                        <li>Good design is the only result of an iterative process.</li>
                        <li>Know your user it makes all the difference while designing.</li>
                        <li>Do build on assumptions build on qualitative data and quantitative data.</li>
                        <li>Prototype fast learn faster.</li>
                        <li>Learn to take feedback impersonally.</li>
                        <img src="img/feedback.gif" alt="" style="width:100%;">

                        <li>Stop beating yourself up if your design didn’t look as good as dribbble designs. Make sure you designed for the problem. </li>
                        <li>Knowledge is power but practicing on that knowledge is more powerful</li>
                        <li>Your thought process matter than the final “look” of the product.</li>
                        <li>Psychology is your tool to know the user for better.</li>
                        <li>Start learning behavior design it’s the next thing.</li>
                        <li>Learn the basic laws for design - Gestalt’s, Fitt’s Law which solve most of UI design problems.</li>
                        <li>As a designer, you are responsible for each element you put on screen. So you better have a reason why it’s there in first place.</li>
                        <li>People will judge your design by how it look but believe in your thought process which solved the problem.</li>
                        <li>There is no lone designer. We are not superheroes. Best ideas come when we sit with our team to solve a problem.</li>
                        <li>Always have a brand of your own. So never stop creating one, it’s continuous process.</li>
                        <li>Meet new designer listen to their story. Listen to their mistakes, learn it, so you don't make it.</li>
                        <li>Keep creating content. Don’t aim for perfection start small. </li>
                        <li>Learn the art of storytelling. It’s the best tool you will ever have to sell your design.</li>
                        <li>Keep reading design article and keep following good designers.</li>
                        <li>Learn how to talk to people learn how to interview them.</li>
                        <li>Analytics is the fastest way to get unbiased data. Learn how to use them properly to your advantage.</li>
                        <li>Start practicing saying NO. Read Julie Zhuo <a href="https://medium.com/the-year-of-the-looking-glass/no-no-no-97cfd94321c8">article</a> about saying NO.</li>
                        <li>You can’t learn design overnight, stop beating yourself it will take time. </li>
                        <li>Take some time off to think over design decision you made and write about it. This helps to organize your design decision.</li>
                        <li><i>“For the first couple years you make stuff, it’s just not that good. It’s trying to be good, it has potential,
                            but it’s not. But your taste, the thing that got you into the game, is still killer.And your taste is why your work disappoints you. A lot of people never get past this phase, they quit.”</i> - Ira Glass</li>
                    </ol>
                    <br>
                    <div class="align-centre">
                        <h2>Questions ?</h2>
                        <p>Have a question about this post or anything else?</p>
                        <p>Ask away on <a class="underline" href="https://twitter.com/jothachil" target="_blank">Twitter</a></p>
                    </div>
                    <hr>
                    <div class="align-centre">
                        <h2>Similar post ?</h2>
                        <p><a class="underline" href="less-is-more-lean-ux.html">Less is More</a></p>
                    </div>
                </section>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>
