<div canvas="container">
    <%- partial("partials/_nav") %>

    <div class="post-bg">
        <div class="post-container">
            <h1>Why 404 Page design is a fail?</h1>
            <time class="post-time">24 July 2016</time>
            <section class="post-content">
              <p>I got a call from my dad asking me what a 404 error means. He was totally frustrated and thought he did something wrong on the internet which caused some error and he wanted called me up to understand what it means.</p>
              <p>This raised questions in my mind regarding the design for the 404 page. I started researching a couple of sites to find the extent of usage 404 page.</p>
              <h2>What is an error message?</h2>
              <p>An error message describes a problem that stops a user from completing a task.</p>
              <p>According Neilison Message Guidelines for error message an error message should be:</p>
              <ul>
                <li><b>Explicit</b>: Indication that something has gone wrong</li>
                <li><b>Human-readable:</b> Language, instead of obscure codes or abbreviations such as “an error of type 2 has occurred.”</li>
                <li><b>Polite</b>: Phrasing that doesn’t blame users;</li>
                <li><b>Precise</b>: Descriptions of exact problems, rather than vague generalities such as “<i>syntax error</i>”.</li>
              </ul>
              <h2>Problems I found in 404 page.</h2>
              <ul>
                <li>Not able to clearly convey the error to the user.</li>
                <li>Not Humane, use of Cryptic numbers. Error message 404.</li>
                <li>Vague terms ex: URL not found, server issue</li>
                <li>Not providing direction what to do next.</li>
                <li>Jargon. What does syntax error mean?</li>
              </ul>
              <h2>Design better 404 pages</h2>
              <br>
              <h5> 1. Convey clearly to the user what happened wrong</h5>
              <img src="img/blog-404-page/dribbbe-error.png" alt="">
              <h5> 2. Don’t respond as machine, responds as human</h5>
              <img src="img/blog-404-page/twitter-error.png" alt="">

              <p>Avoid cryptic numbers like 404 and terms like URL, server issue etc.</p>
              <h5> 3. Seize the humor in the situation</h5>
              <img src="img/blog-404-page/humor-error.png" alt="">

              <p>The message should still be clear, and polite. Something went wrong, so pleasing humor is a bonus when it happens.</p>
              <h5> 4. Light their pathway.</h5>
              <img src="img/blog-404-page/amazon-error.png" alt="">
              <p>Include links that may send users down an alternative path, or to the home page</p>
              <h5> 5. Keep the footer and header in 404 page</h5>
              <img src="img/blog-404-page/behance-error.png" alt="">

              <p>Avoid removing footer and header from 404 page this loose the sense of navigation in user. The user always like to have control over the navigation.</p>
              <hr>
              <div class="align-centre">
                  <h2>Questions ?</h2>
                  <p>Have a question about this post or anything else?</p>
                  <p>Ask away on <a class="underline" href="#">Twitter</a></p>
              </div>
              <hr>
              <div class="align-centre">
                  <h2>Similar post ?</h2>
                  <p><a class="underline" href="#">First Blog</a></p>
              </div>
            </section>
        </div>
    </div>
    <%- partial("partials/_footer") %>

</div>

<%- partial("partials/_loadpageonimageload") %>
