<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="show-page-content list-view">
            <div class="list-blogs">
                <div class="opensource">
                        <h1>2017</h1>
                        <hr>
                        <div class="list-item">
                            <div class="col col--6-of-8 blog-title">
                                <a href="improve-your-404-page-design.html">
                                    <p>Best Practices for 404 page design</p>
                                </a>
                            </div>
                            <div class="col col--2-of-8 col--m-1-of-4 col--s-1-of-4">
                                <p class="blog-date">1 March 2017</p>
                            </div>

                        </div>
                        <div class="list-item">
                            <div class="col col--6-of-8 blog-title">
                                <a href="design-with-empthy.html">
                                    <p>Design With Empthy</p>
                                </a>
                            </div>
                            <div class="col col--2-of-8 col--m-1-of-4 col--s-1-of-4">
                                <p class="blog-date">3 Feb 2017</p>
                            </div>

                        </div>
                        <br>
                        <h1>2016</h1>
                        <hr>
                        <div class="list-item">
                            <a href="first-blog-post.html">

                                <div class="col col--6-of-8 blog-title">
                                    <p>First blog post</p>

                                </div>
                                <div class="col col--2-of-8 col--m-4-of-4 col--s-2-of-4 ">
                                    <p class="blog-date">24 July 2016</p>
                                </div>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>
