<div canvas="container">
    <%- partial("partials/_nav") %>

    <div class="post-bg">
        <div class="post-container">
            <h1>First blog</h1>
            <time class="post-time">24 July 2016</time>
            <section class="post-content">
                <p>This will be my first blog post that I am putting together. I am not sure how exactly it will turn out to be, so I am just gonna let it write itself.</p>
                <p>I decided to write this blog to convey my experience initially as a front developer and designer, also putting together blog post lets me question my own work. I am confused most time and hence writing it down helps me organize my thoughts
                    better</p>
                <h2>Challenge ?</h2>
                <p>Sharing my experience as developer and designer is something I really wish to do but I was putting it on hold as I was not good at expressing my thoughts in words. I find it rather challenging and it provides me a platform to improve myself.
                    I assume if I do this often presumably I will get better.</p>
                <p>As of now, I envision this blog as a showcase for:</p>
                <ul>
                    <li>Thoughts on design—UI, interaction.</li>
                    <li>Thoughts on how I came up with a solution to a problem.</li>
                    <li>Code snippets that I find useful to other users.</li>
                    <li>My experience in learning Rails.</li>
                    <li>and more?</li>
                </ul>
                <p>Based on that keep an eye on things I share and try to take the best of from it. </p>
                <p class="note">P.S This post was my first post. Try not to take anything I say too seriously.</p>
                <hr>
                <div class="align-centre">
                    <h2>Questions ?</h2>
                    <p>Have a question about this post or anything else?</p>
                    <p>Ask away on <a class="underline" href="#">Twitter</a></p>
                </div>
            </section>
        </div>
    </div>
    <%- partial("partials/_footer") %>

</div>

<%- partial("partials/_loadpageonimageload") %>
