<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="tvshow-landing-container" style="background-color:#0CBE51">
                <div class="container">
                    <div class="row">
                        <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2 tvshow-landing-text" style="color:#222">
                            <h1 style="color:white">Conferencia</h1>
                        </div>
                        <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                            <img class="fadein" src="img/conferencia-main.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </div>
            <div class="post-container">
                <div class="row">
                    <h4>OBJECTIVE</h4>
                    <p class="text-align-left">Create a way of to improve the conference calling experience for people working in startups and freelancers
                        who struggle in</p>
                    <ul>
                        <li> Scheduling meeting with co-workers.</li>
                        <li> Switching between calendar and conference app to schedule meetings.</li>
                        <li> Spending too much time to set up a meeting with co-workers.</li>
                        <li> Ensuring everyone is present before the call.</li>
                        <li> Sharing information to and from among</li>
                    </ul>
                </div>
                <br>
                <div class="row">

                    <h4>RESEARCH</h4>
                    <p class="text-align-left">For my research, I initially conducted quick and open-ended (unstructured) interviews to find out the
                        current problems that my friend working in startups often face while setting up the conference.
                    </p>
                </div>
                <br>
                <div class="row">
                    <h4>FINDINGS</h4>
                    <p>
                        <b>I have a hard time …</b>
                    </p>
                    <ul>
                        <li>Ensuring the availability of other users in conference while setting up conference</li>
                        <li>Switching between different application calendar and conference app (Skype) to check there is no
                            conflict in schedule.</li>
                        <li>Ensuring each person is ready to start meeting before meeting</li>
                        <li>Keeping track of all the calls</li>
                        <li>Recalling the all conversation after the conference has finished.</li>
                        <li>Getting context of the meeting.</li>
                    </ul>
                    <p>
                        <b>I Wanted to…</b>
                    </p>
                    <ul>
                        <li>Need to know about availability of the other users in conference</li>
                        <li>One place to know all my scheduled calls</li>
                        <li>Recall every piece of information shared between user in conference</li>
                        <li>Notification regarding all the meeting which happens to go to happen</li>
                        <li>Able find all documents which I needed to attend the call in one place.</li>
                    </ul>
                </div>
                <br>
                <div class="row">
                    <h4>PERSONA</h4>
                    <img src="img/conferencia-persona.jpg" alt="">
                </div>
                <br>
                <div class="row">
                    <h4>USER FLOW</h4>
                    <img src="img/conferencia-userflow-01.jpg" alt="">
                    <br>
                </div>
                <br>
                <div style="text-align:center;" class="row">
                    <h4>FINAL DESIGNS</h4>
                    <br>
                    <img src="img/conferencia-final-01.jpg" alt="">
                    <img src="img/conferencia-final-02.jpg" alt="">
                    <img src="img/conferencia-final-03.jpg" alt="">
                </div>
                <div class="row">
                    <div class="col col--3-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                        <h4>More Details</h4>
                    </div>
                    <div class="col col--9-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                        <a href="https://docs.google.com/document/d/1aRqi1UWKEw8KTD6bnX68Rzmhw5vXzsKH2KLDAQApg6I/edit?usp=sharing">Doc File</a>
                        <br>
                    </div>
                </div>
                <br>
            </div>
            <%- partial("partials/_related-works",{ title: "Swift Drop", link: "swift-drop.html" }) %>
                <%- partial("partials/_footer") %>
        </div>
</div>
<%- partial("partials/_revealfadeanimation") %>