<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="post-container">
                <h1>Design With Empthy</h1>
                <time class="post-time">3 Feb 2017</time>
                <section class="post-content load-img">
                  <img src="img/design-with-empthy1.jpg" alt="">
                  <p>I came across this book ‘Talking to Customer’ as part of a project I am doing for an in-house product for the yoga practitioner. I wanted to convey how this book will help me to conduct better customer interviews. As a designer, I have seen many people designing products based assumption they have. This book helps to validate our assumption and help to design better products for the user.</p>
                  <p>This first half of the book author narrates a story of two people with the idea to sell pillows. It conveys mainly three points.</p>
                  <h3>1. Walking in the customer’s shoes</h3>
                  <p>Put yourself in the customer’s shoes and try to solve his problem in their perspective</p>
                  <p>For example, if you want to improve the experience of buying a mattress, go to a couple of stores try to buy a new mattress which matches your needs. Try to repeat this experiment and note down the pain points you had to go through while you’re experiencing the problems.</p>
                  <h3>2. Observe the customer</h3>
                  <p>Observe customers, how they are currently solving the problems. Ex buying a mattress ask customers  — <i> “I am trying to figure out which mattress to purchase and noticed that you went right to that one. Might I ask why you chose that mattress?”</i></p>
                  <h3>3. Challenging Assumptions</h3>
                  <p>Come up with falsifiable hypothesis from the data we gathered that we can test. Ex: <i>“We believe that our very first customers will be new students who need to outfit their dorms.”</i></p>
                  <h2>Questions to answer before interviews.</h2>
                  <h3>Who do you want to learn from?</h3>
                  <p>The typical customer, you envision if you get traction with your idea. Don’t try to build the product for everyone. You need to get more specific.</p>
                  <h3>What do you want to learn?</h3>
                  <p>Go to every customer interview preparing a list of questions. Ensure that you get to your most important questions early. To prioritize questions, try to understand your risky assumptions. Those tend to be the areas where you need to gather insights most urgently</p>
                  <p><b>Example</b></p>
                  <ul>
                    <li>My target customer will be?</li>
                    <li>The problem my customer wants to solve is?</li>
                  </ul>
                  <h3>How will you get to them?</h3>
                  <ul>
                    <li>Try to interview people with one degree of separation like you best friend or mom</li>
                    <li>Be creative don’t expect people will come to you and talk.</li>
                    <li>If you trying to solve a problem for one pain point, interview those people in that moment of pain.</li>
                    <li>To find more people to interviews attend meetups and conference.</li>
                    <li>Make referrals happen, This one good way to start a conversation smoothly, ask your friend introduce to people you wanted to interview.</li>
                    <li>Ask for advice to people regarding product rather than selling it. People like to feel valuable.</li>
                    <li>Be a student or academic researcher for people to be more open to being in an interview with you.</li>
                  </ul>
                  <h3>How can you ensure an effective session?</h3>
                  <ul>
                    <li> <b>Set face to face meeting</b> rather a telephonic call. Talking in person is by far the best approach. You can read body language and build rapport much easier</li>
                    <li> <b>Talk to one person at a time</b> thus you have only one person to focus on.</li>
                    <li> <b>Add a note taker</b>, bringing a note taker will allow you to stay in the moment without worrying about getting every bit down on paper.</li>
                    <li> <b>Start with casual talk.</b> Start with one or two warm up questions.</li>
                    <li> <b>Listen, Don’t Talk.</b> Try to be quiet for the most part of the interview let the customer speaker.</li>
                    <li> <b>Do a dry run.</b> If you are a beginner at customer discovery, do a dry run with a friend or colleague. See how your questions feel coming out of your mouth.</li>

                  </ul>
                  <h3>How Do You Make Sense of What You Learn?</h3>
                  <ul>
                    <li><b>Take Good Notes to find your patterns,</b> first you need to track the data</li>
                    <li><b>At the start of every entry, note the following information:</li>
                    <ul>
                      <li>Name of interview subject</li>
                      <li>Date and time</li>
                      <li>Name of interviewer</li>
                      <li>In person or video conference</li>
                      <li>Photo (if you have one)</li>
                    </ul>
                    <li><b>Expect False Positives</b> there fair share of naysayers and skeptics, you have to be wary of the opposite problem in customer development interviews.</li>
                    <li><b>Look for Patterns and Apply Judgement</b> Customer development interviews will not give you statistically significant data, but they will give you insights based on patterns. You need to use your judgment to read between the lines, to read body language, to try to understand context and agendas, and to filter out biases based on the types of people in your pool of interviewees</li>
                    <li><b>Talk to minimum to at least 50 to 100 people</b> if you consumer based product</li>
                  </ul>
                  <p>Get into the market early and begin testing your assumptions right away, starting with conversations and proceeding from there. It will dramatically increase the odds that you will create a product that customers actually want. As you build confidence, test with increasing levels of fidelity.</p>
                  <h3>Books to follow up</h3>
                  <ul>
                    <li><a href="http://www.talkingtohumans.com/"  target="_blank">Talking to humans</a></li>
                    <li><a href="http://shop.oreilly.com/product/0636920021827.do"  target="_blank">Lean UX</a></li>
                  </ul>
                  <hr>

                  <div class="align-centre">
                      <h2>Questions ?</h2>
                      <p>Have a question about this post or anything else?</p>
                      <p>Ask away on <a class="underline" href="https://twitter.com/jothachil"  target="_blank">Twitter</a></p>
                  </div>
                  <hr>
                  <div class="align-centre">
                      <h2>Similar post ?</h2>
                      <p><a class="underline" href="improve-your-404-page-design.html">Best Practices for 404 page design</a></p>
                  </div>

                </section>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>
