
    <div id="full-container" canvas="container">
      <%- partial("partials/_nav") %>
            <div class="show-page-content">
              <div class="show-main-gradient">
                <div class="container load-img">
                  <img class="fadein"src="img/sh1.png" alt="">
                  <h1>Gradient Cards</h1>
                </div>
              </div>
              <div class="down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>

              </div>
              <div class="show-info">
                <div class="container">
                  <h2>Gradient Cards</h2>
                  <p>Simple Gradient Colors, Designed in sketch. Download Sketch file below</p>
                  <br>
                  <a class="web-btn" href="https://www.dropbox.com/s/rgk2akk4uczh5gw/Gradient%20Cards.sketch?dl=0" target="_blank">DOWNLOAD</a>

                </div>
              </div>
              <div class="show-work">
                <div class="container load-img">
                  <img src="img/cards.png" alt="">
                </div>
              </div>
              <%- partial("partials/_related-works",{ title: "Login UI", link: "login-ui.html" }) %>
              <%- partial("partials/_footer") %>
            </div>

    </div>
    <%- partial("partials/_revealfadeanimation") %>
