<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="post-container">
                <h1>Hard Part of Being a Designer</h1>
                <time class="post-time">17 Sept 2017</time>
                <section class="post-content load-img">
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img src="img/studio-republic.jpg" alt="">
                        </div>

                    </div>

                    <div class="row">
                        <p>In this article am not gonna talk about how hard it is to choose primary color or how to choose between
                            light UI & Dark UI or anything related to UI design. I will be talking about the hardship you
                            will likely gonna be facing while leading the design in your company.</p>
                        <h3>Background</h3>
                        <p>I am currently working as a UX Designer for a product company in India. I graduated from my college
                            with a Computer Science degree. As a guy who had very interest art and graphic form, I started
                            traversing all the design experience when I less than two years into the program. By the time
                            I graduate from my college I was pretty sure I wanted to be a designer only.Second
                        </p>
                        <p>Soon after I joined, I got to know what it's to be a designer and how hard a designer has to work
                            towards to solve a problem. It was much more putting a beautiful UI for every interface we ship
                            as I initially assumed it was when I was starting out.</p>
                    </div>
                    <div class="row">
                        <h2>01 Process</h2>
                        <p>A design process defines every designer's mission to solve hard problems. The process is a fancy
                            word for every newbie designer which got into design because of the sheer pleasure of making
                            something pleasing to the eye from scratch.</p>
                        <blockquote>We want to see your design process.</blockquote>
                        <p>Said every interviewer, their voices echoing into the depth.</p>
                        <p>By the time you wrap your head around why the process is essential. The next phase to set out, to
                            find the perfect design process. After lots of hours understanding the other team's process by
                            going through tonnes of the article, you will be most likely not able to see a process that works
                            for the team by copying other team's process.</p>
                        <p>When it comes to process, there is no one process which matches for every company. Which process
                            to choose depends upon tones of factors. Few of them includes:</p>
                        <ul>
                            <li>Type of companies B2B or B2C,</li>
                            <li>Team Structure ,</li>
                            <li>What is the state of the project yours in?</li>
                            <li>What are the companies target customers?</li>
                            <li>What is the business model company have they chosen?</li>
                        </ul>
                        <p>Understand the context then adapts your process to companies goals.</p>
                        <p>I have seen a lot of designer complaining their company don't have user research, design sprint,
                            user testing, etc. Instead of spending your all day complaining, find a way to fix it. Don't
                            expect people to change to this remarkable new process with a snap of fingers (we are not Thanos).
                        </p>
                        <p>Most of the times you have to show a set of people who run the game that this new process is adding
                            value to product building. To do this, you need to start asking right questions, what is the
                            goal of the company, identify what motivates each of team, what is crucial to the company, who
                            are our targets customer, etc.</p>
                        <p>Once you got the answers, you need, and you come up with a process which you believe will improve
                            the vital part of the company. Find a way to test your process, instead of attempting to execute
                            full process take a small part of the process for example, for directing user research do the
                            minimum thing to get value out of it.</p>

                        <p>Go out to the nearest cafe and find few people to conduct user interview. Make a report and show
                            to stakeholders the benefits we could get by doing these process. They would be stupid to not
                            see the actual numbers in front of them.</p>

                        <p>If you have come across all the cooling process that have read or seen upon in google, facebook,
                            Airbnb, etc. it's because someone or group of people believed there is the better way of doing
                            the things than what they were doing already. All those people would have their share of struggle
                            implementing the new process.</p>

                    </div>
                    <div class="row">
                        <h2>02. Bussiness In design</h2>
                        <p>For someone who started the career because to see beautiful things seeing the role of design in business
                            was very something hard for me to understand. I found it as an excuse for not creating the beautiful
                            product. </p>
                        <p>It doesn't matter if your product is having state of the art user experience or it supports black
                            and white UI, or it has consistent UI patterns or not. If you can't make a user to a customer,
                            then design not adding any value to the business. Good business means you have money to finance
                            the design, no money means design becomes absolute. </p>
                        <blockquote>Humans in a business context are the customer. The design is about the customers, not just users.
                            Design always has been about selling things.</blockquote>
                        <p>As a designer, we may not always be lucky to be in the place where the company recognizes the value
                            of design in business. The first hardest part of being a designer is they itself need to understand
                            design can add value to the business.</p>
                        <p>Second hardest part is for the designer to show the company the importance of design we can prove
                            this by showing the numbers. If design helps to improve the number that the business people hold
                            very near, the design is adding value to the business. This requires us to talk to business people
                            and tell what we actually do concerning design to improve the business. </p>
                        <p>If you zoom out and see how design jobs are being shaped in the last few years, you found all these
                            new jobs like UX design, interaction design, product design, graphic design, etc. This is an
                            indication business people understanding how design can help to grow their business. A product
                            can be successful if it has a good customer, not just excellent user experience. You know you're
                            doing good design when people start buying which in turns add value to the business.</p>
                        <blockquote>“Design is functionality. Beauty is the last order of what design is.” — Bobby Ghoshal</blockquote>
                        <p>Our job is to give functionality if that is beautiful then it's perfect. Business wins because of
                            the utility of the product.</p>
                    </div>
                    <div class="row">
                        <h2>03 Team</h2>
                        <p>Your Building a product which likely to be used by thousands or millions of user, it's most likely
                            you would need a team for building that. It's essential for a designer to understand his side.
                            Designers are not creative super people who shoved into one room and produce designs just like
                            that. They need work with product manager, developer, sales, marketing, etc.</p>
                        <h4>Hiring</h4>
                        <p>Don't hire for desire, hire to eliminate the pain. When you hire more people than you need your next
                            goal becomes how to make them busy. Artifical tasks and feature will just keep on increasing
                            expense and complexity of the product. There nothing like small design changes, each new design
                            brings it's on complexity to the product.
                        </p>
                        <h4>Empthy for your team members</h4>

                        <p>Don't start blaming your squad immediately when things didn't go the way you wanted to be. Understand
                            why it went wrong and how can we make sure this won't happen in future. </p>
                        <p>The designers also need to be empathic to developers also, understand how they work, understand how
                            to make their work simpler without affecting the user experience for the user. If that fancy
                            animation is not gonna add any value to the end users, remove it.
                        </p>
                        <p>Work with your team during the early stages of a product or feature build. Instead of putting yourself
                            in the box and coming up with the solution let the team be also part of the ideation some problem
                            can be solved better if you involve them. </p>
                        <p>Your customer support team may know more about the pain points of the user than you so make them
                            part of the discussion. It will also make the team feel good that they are part of building a
                            product from the start. It will also make them understand why are doing this and this may help
                            them do their job better. And if you ask them to work late at office give them a reason to be
                            there instead of giving them stupid reasons.</p>

                    </div>
                    <div class="row">
                        <h2>Conclusion</h2>
                        <ol>
                            <li> Strive for a process that works for your company not pick one process which worked for others
                                in a different context.</li>
                            <li> The design is only successful if it can be sold. It was always about selling. Start thinking
                                of customers not just users.</li>
                            <li> Hire when it's painful. Hire the right people who have the right motivation to be in the company.</li>
                            <li> The design is a team effort. So start designing with your team. Don't go solo.</li>
                        </ol>
                    </div>



                    <div class="align-centre">
                        <h2>Questions ?</h2>
                        <p>Have a question about this post or anything else?</p>
                        <p>Ask away on
                            <a class="underline" href="https://twitter.com/jothachil" target="_blank">Twitter</a>
                        </p>
                    </div>
                    <hr>
                    <div class="align-centre">
                        <h2>Similar post ?</h2>
                        <p>
                            <a class="underline" href="30-things-i-learned-from-spending-a-year-as-a-designer.html">30 Things I Learned From Spending a Year as a Designer</a>
                        </p>
                    </div>

                </section>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>