<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>


    <div class="show-page-content">
        <div class="show-main-gradient" style="background-color:#f76a38;padding-top:10px;padding-bottom:100px">
            <div class="container load-img">
                <img class="fadein" src="img/imdbcover.png" alt="">
            </div>
        </div>
        <div class="down">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>

        </div>
        <div class="show-info">
            <div class="container">
                <h2>IMDB Redesign</h2>
                <p>Redesign of Internet movie database website. A simplified minimal Approach</p>
            </div>
        </div>
        <div class="show-work">
            <div class="container load-img">
                <img src="img/imdb.jpg" alt="">
            </div>
        </div>
        <div class="container">
            <div class="footer">
                <div class="site-map">
                    <a href="/">Home</a><span href=""> • </span>
                    <a href="/work.html">Portfolio</a><span href=""> • </span>
                    <a href="/others.html">Open source</a>
                </div><br>
            </div>
        </div>
    </div>

</div>
<%- partial("partials/_revealfadeanimation") %>
