<div canvas="container">
    <%- partial("partials/_nav") %>
        <div class="main-content">
            <div class="row">
                <div class="container">
                    <h1>John Thachil</h1>
                    <p>Designer &amp Front End Developer</p>
                    <div class="icons">
                        <a href="http://behance.net/johnthachil" target="_blank"><i class="fa fa-behance color-icons" aria-hidden="true"></i></a>
                        <a href="http://twitter.com/jothachil" target="_blank"><i class="fa fa-twitter color-icons" aria-hidden="true"></i></a>
                        <a href="https://github.com/johnthachil" target="_blank"><i class="fa fa-github color-icons" aria-hidden="true"></i></a>
                        <a href="https://linkedin.com/in/johnthachil/" target="_blank"><i class="fa fa-linkedin color-icons" aria-hidden="true"></i></a>

                    </div>
                </div>


            </div>
        </div>
        <div class="mouse-icon">
            <div class="wheel"></div>
        </div>
    <div class="angled-section">
    </div>
    <section class="home-work-section">
        <div class="home-work">
            <div class="container">
                <h1 class="home-tittle">Work</h1>
                <div class="curated-work">
                    <div class="row">
                        <div class="col col--6-of-12 col--m-2-of-4">
                            <div class="overlay load-img">
                                <img src="img/ho1.jpg" alt="">
                                <div class="info">
                                    <div class="info-content">
                                        <h4>JAKE</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col--6-of-12 col--m-2-of-4">
                            <div class="overlay load-img">
                                <img src="img/ho1.jpg" alt="">
                                <div class="info">
                                    <div class="info-content">
                                        <h4>JAKE</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col--6-of-12 col--m-2-of-4">
                            <div class="overlay load-img">
                                <img src="img/ho1.jpg" alt="">
                                <div class="info">
                                    <div class="info-content">
                                        <h4>JAKE</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col--6-of-12 col--m-2-of-4">
                            <div class="overlay load-img">
                                <img src="img/ho1.jpg" alt="">
                                <div class="info">
                                    <div class="info-content">
                                        <h4>JAKE</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio.html">
                        <div class="big-button">See more</div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="home-blog">
        <div class="container">
            <h1 class="home-tittle">Recent Blogs</h1>
            <ul>

                <a href="improve-your-404-page-design.html">
                    <li>
                        <p>Improve your 404 page design </p>
                    </li>
                </a>


            </ul>
            <a href="all-blogs.html">
                <div class="big-button">See more</div>
            </a>

        </div>
    </div>
    <%- partial("partials/_footer") %>
</div>
<%- partial("partials/_loadpageonimageload") %>
