<div canvas="container">
  <%- partial("partials/_nav") %>
    <div class="jumbtron">
      <div class="row">
        <div class="container">
          <div class="col col--8-of-12 col--m-4-of-4 col--s-3-of-3">
            <h1 class="jumbtron-header">Product Designer</h1>
            <p>I produce elegant solutions with a human-centered design approach, helping people make better products and services.</p>
            <div class="social-links">
              <a class="social-link" href="https://www.behance.net/johnthachil" target="_blank">
                <i class="fa fa-behance social-link-icon" aria-hidden="true"></i>
              </a>
              <a class="social-link" href="http://twitter.com/jothachil" target="_blank">
                <i class="fa fa-twitter social-link-icon" aria-hidden="true"></i>
              </a>
              <a class="social-link" href="https://github.com/johnthachil" target="_blank">
                <i class="fa fa-github social-link-icon" aria-hidden="true"></i>
              </a>
              <a class="social-link" href="https://linkedin.com/in/johnthachil/" target="_blank">
                <i class="fa fa-linkedin social-link-icon" aria-hidden="true"></i>
              </a>
              <a class="social-link" href="https://medium.com/@jothachil" target="_blank">
                <i class="fa fa-medium social-link-icon" aria-hidden="true"></i>
              </a>
              <a class="social-link" href="https://dribbble.com/jothachil" target="_blank">
                <i class="fa fa-dribbble social-link-icon" aria-hidden="true"></i>
              </a>

            </div>
            <a href="https://www.dropbox.com/s/9jwy7jkqs0xojk2/Resume%20-%20John%20Thachil.pdf?dl=0" target="_blank" class="resume-btn">RESUME</a>

          </div>
          <div id="mouse-fade" style="height:40px;width:100%">
            <div class="mouse-icon">
              <div class="wheel"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
      <div class="home-work-wrapper">
        <div class="container">
          <h1 class="home-work-title">Work</h1>
          <div class="home-works">
            <div class="row">
                <div class="col col--6-of-12 col--m-2-of-4">
                    <a href="message-cloud.html">
                      <div class="overlay load-img">
                        <img src="img/ho5.jpg" alt="" class="shadow-helper">
                        <div class="info">
                          <div class="info-content">
                            <h4>OD: Message Cloud</h4>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
              <div class="col col--6-of-12 col--m-2-of-4">
                <a href="good-karma-practitioner.html">
                  <div class="overlay load-img">
                    <img src="img/ho4.jpg" alt="" class="shadow-helper">
                    <div class="info">
                      <div class="info-content">
                        <h4>Good Karma Sprint One</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col col--6-of-12 col--m-2-of-4">
                <a href="nautilus-website.html">
                  <div class="overlay load-img">
                    <img src="img/ho2.jpg" alt="" class="shadow-helper">
                    <div class="info">
                      <div class="info-content">
                        <h4>Nautilus</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col col--6-of-12 col--m-2-of-4">
                <a href="sieve.html">
                  <div class="overlay load-img">
                    <img src="img/ho3.jpg" alt="" class="shadow-helper">
                    <div class="info">
                      <div class="info-content">
                        <h4>Sieve</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <a href="portfolio.html">
            <div class="big-button">See more</div>
          </a>
        </div>
      </div>
</div>
</section>
<div class="home-blog">
  <div class="container">
    <h1 class="home-tittle">Recent Blogs</h1>
    <br>
    <div class="highlighted-blogs">
      <a href="hard-part-of-being-designer.html">
          <p class="highlighted-blog">Hard Part of Being Designer</p>
        </a>
      <a href="30-things-i-learned-from-spending-a-year-as-a-designer.html">
        <p class="highlighted-blog">30 Things I Learned From Spending a Year as a Designer</p>
      </a>
      <a href="improve-your-404-page-design.html">
        <p class="highlighted-blog">Best Practices for 404 page design</p>
      </a>
      <a href="design-with-empthy.html">
        <p class="highlighted-blog">Design with Empthy</p>
      </a>


    </div>
    <a href="all-blogs.html">
      <div class="big-button">See more</div>
    </a>

  </div>
</div>
<%- partial("partials/_footer") %>
  </div>
  <%- partial("partials/_loadpageonimageload") %>
    <script type="text/javascript">
      $(document).ready(function () {
        $(window).scroll(function () {
          $('.mouse-icon').fadeOut(400)
        });

      });

    </script>
