<div canvas="container">
    <%- partial("partials/_nav") %>
        <div class="main-content">
            <div class="row">
                <div class="container">
                    <div class="col col--8-of-12 col--m-4-of-4">
                        <h1>UI/UX designer and developer</h1><br>
                        <p>I produce elegant solutions with a human-centered design approach, helping people make better products
                            and services.</p>
                        <div class="icons">
                            <a href="https://www.behance.net/johnthachil" target="_blank"><i class="fa fa-behance color-icons" aria-hidden="true"></i></a>
                            <a href="http://twitter.com/jothachil" target="_blank"><i class="fa fa-twitter color-icons" aria-hidden="true"></i></a>
                            <a href="https://github.com/johnthachil" target="_blank"><i class="fa fa-github color-icons" aria-hidden="true"></i></a>
                            <a href="https://linkedin.com/in/johnthachil/" target="_blank"><i class="fa fa-linkedin color-icons" aria-hidden="true"></i></a>
                            <a href="https://medium.com/@jothachil" target="_blank"><i class="fa fa-medium color-icons" aria-hidden="true"></i></a>
                            <a href="https://dribbble.com/jothachil" target="_blank"><i class="fa fa-dribbble color-icons" aria-hidden="true"></i></a>
                            
                        </div>
                    </div>
                    <div id="mouse-fade" style="height:40px;width:100%">
                        <div class="mouse-icon">
                            <div class="wheel"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="home-work-section">
            <div class="home-work">
                <div class="container">
                    <h1 class="home-tittle">Work</h1>
                    <div class="curated-work">
                        <div class="row">
                            <div class="col col--6-of-12 col--m-2-of-4">
                                <a href="good-karma-practitioner.html">
                                    <div class="overlay load-img">
                                        <img src="img/ho4.jpg" alt="" class="shadow-helper">
                                        <div class="info">
                                            <div class="info-content">
                                                <h4>Good Karma Sprint One</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4">
                                <a href="ticket-new.html">
                                    <div class="overlay load-img">
                                        <img src="img/ho1.jpg" alt="" class="shadow-helper">
                                        <div class="info">
                                            <div class="info-content">
                                                <h4>Ticket New</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4">
                                <a href="nautilus-website.html">
                                    <div class="overlay load-img">
                                        <img src="img/ho2.jpg" alt="" class="shadow-helper">
                                        <div class="info">
                                            <div class="info-content">
                                                <h4>Nautilus</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4">
                                <a href="sieve.html">
                                    <div class="overlay load-img">
                                        <img src="img/ho3.jpg" alt="" class="shadow-helper">
                                        <div class="info">
                                            <div class="info-content">
                                                <h4>Sieve</h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="portfolio.html">
                        <div class="big-button">See more</div>
                    </a>
                </div>
            </div>
</div>
</section>
<div class="home-blog">
    <div class="container">
        <h1 class="home-tittle">Recent Blogs</h1>
        <ul>
            <a href="30-things-i-learned-from-spending-a-year-as-a-designer.html">
                <li>
                    <p>30 Things I Learned From Spending a Year as a Designer</p>
                </li>
            </a>

            <a href="improve-your-404-page-design.html">
                <li>
                    <p>Best Practices for 404 page design</p>
                </li>
            </a>
            <a href="design-with-empthy.html">
                <li>
                    <p>Design with Empthy</p>
                </li>
            </a>


        </ul>
        <a href="all-blogs.html">
            <div class="big-button">See more</div>
        </a>

    </div>
</div>
<%- partial("partials/_footer") %>
    </div>
    <%- partial("partials/_loadpageonimageload") %>
        <script type="text/javascript">
            $(document).ready(function () {
                $(window).scroll(function () {
                    $('.mouse-icon').fadeOut(400)
                });

            });
        </script>