<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="post-container">
                <h1>Less is More - Lean UX</h1>
                <time class="post-time">28 Nov 2016</time>
                <section class="post-content load-img">
                  <img src="img/lean-ux-learn-cycle.png" alt="">

                    <h2>Why Lean UX</h2>
                    <ul>
                        <li>Lean UX focuses more on the experience of the design and less on providing UX deliverables.</li>
                        <li>It validates the assumption at early stages product itself.</li>
                        <li>Lean UX is the best toolkit for the modern designers.</li>
                        <li>Instead of talking about features and documents it talks about what works.</li>
                    </ul>

                    <h2>Three foundations</h2>

                    <ol>
                        <li><b>Design thinking</b>

                            <ul>
                                <li>Direct observation of what people want and need in their lives and what they like or dislike about the way particular products are made, packaged, marketed, sold, and supported. It’s a discipline that uses the designer’s
                                    sensibility and methods to match people’s needs with what is technologically feasible and what a viable business strategy can convert into customer value and market opportunity</li>
                            </ul>
                        </li>
                        <li><b>Agile Software Development</b>

                            <ul>
                                <li>Individuals and interaction over process and tools.</li>
                                <li>Working software over comprehensive documentations.</li>
                                <li>Customer Collaboration over contract negotiation = faster iterations, real involvement in product making and team investment in validating learning</li>
                                <li>Responding to change over following a plan = the initial product design will do on the basis that it will be wrong the bigger picture is to find out what’s wrong with them ASA</li>
                            </ul>
                        </li>
                        <li><b>Lean Startup method</b>

                            <ul>
                                <li>Build &gt; Learn &gt; Learn. To minimize project risk and gets teams building quickly and learning quickly.</li>
                                <li>Each design is a proposed business solution = a hypothesis. Your goal is to validate the proposed solution as efficiently as possible by using customer feedback</li>
                                <li>The practice of Lean UX is bringing the true nature of a product to light faster, in a collaborative, cross-functional way that reduces the emphasis on thorough documentation while increasing the focus on building a shared
                                    understanding of the actual product experience being designed.</li>
                            </ul>
                        </li>
                    </ol>

                    <h2>Principles</h2>

                    <ol>
                        <li>Cross Functional Teams

                            <ul>
                                <li><strong>What?</strong> = Made of various disciplines</li>
                                <li><strong>Why?</strong> = Ideas from all the disciples</li>
                            </ul>
                        </li>
                        <li>Small, Dedicated, Colocated

                            <ul>
                                <li><strong>What?</strong> = Small Team, dedicated to given project</li>
                                <li><strong>Why?</strong> = Increase in communication, focus and camaraderie</li>
                            </ul>
                        </li>
                        <li>Principle: Progress = Outcomes, Not output

                            <ul>
                                <li><strong>What?</strong> = Features and serves are outputs. Aim for outcomes</li>
                                <li><strong>Why?</strong> = We don’t know in any meaningful way whether a feature is effective until it’s in the market. By managing outcomes, we gain insight into the efficiency of the features we are building.</li>
                            </ul>
                        </li>
                        <li>Problem- Focused Teams

                            <ul>
                                <li><strong>What?</strong> = Team focused on problems rather than the features.</li>
                                <li><strong>Why?</strong> = It allows them to come up with their own solutions and drives a deeper sense of pride and ownership in the solutions the team implements.</li>
                            </ul>
                        </li>
                        <li>Removing the waste

                            <ul>
                                <li><strong>What?</strong> = Goal is to improve the outcomes hence anything else is waste</li>
                                <li><strong>Why?</strong> = Team resources are limited. The more waste the team can eliminate, the faster they can move.</li>
                            </ul>
                        </li>
                        <li>Continuous Discovery

                            <ul>
                                <li><strong>What?</strong> = Ongoing process of engaging the customer during the design and development process. Research is done on frequent and regular schedules. Research involves the entire team.</li>
                                <li><strong>Why?</strong> = Regular customer conversations provide frequent opportunities for validating new product ideas.</li>
                            </ul>
                        </li>
                        <li>GOOB: The New User-Centricity

                            <ul>
                                <li><strong>What</strong> - Getting out of the building</li>
                                <li><strong>Why</strong> - Success and failure of the product are depended on customers, not the team’s decisions.</li>
                            </ul>
                        </li>
                        <li>Shared Understanding

                            <ul>
                                <li><strong>What</strong>- It’s a rich understanding of the space, the product, and the customers.</li>
                                <li><strong>Why</strong>- Less dependent on detailed documents.</li>
                            </ul>
                        </li>
                        <li>Anti-Pattern: Rockstars, Gurus, and Ninjas

                            <ul>
                                <li><strong>What</strong> - Rockstars gurus, ninjas, and other elite experts of their craft break down team cohesion and eschew collaboration.</li>
                                <li><strong>Why</strong> - When collaboration breaks down, you lose the environment you need to create the shared understanding that allows you [to avoid repetition] to move forward effectively.</li>
                            </ul>
                        </li>
                        <li>Externalizing Your Work

                            <ul>
                                <li><strong>What</strong> - Putting the idea out in public.</li>
                                <li><strong>Why</strong> - It inspires new ideas that build on the ones that have already been shared.</li>
                            </ul>
                        </li>
                        <li>Making over analysis

                            <ul>
                                <li><strong>What</strong> - Lean UX values making over analysis</li>
                                <li><strong>Why</strong> - Difficult questions are answered in the field rather than in conference room</li>
                            </ul>
                        </li>
                        <li>Permission to fail

                            <ul>
                                <li><strong>What</strong> - In order to nd the best solution to business problems, Lean UX teams need to experiment with ideas.</li>
                                <li><strong>Why</strong> - When teams don’t fear for their jobs if they get something wrong, they’re more apt to take risks.</li>
                            </ul>
                        </li>
                    </ol>
                </section>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>
