<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="tvshow-landing-container" style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
                <div class="container">
                    <div class="row">
                        <div class="col col--4-of-12 col--m-2-of-4 col--s-2-of-2 tvshow-landing-text">
                            <h1>OD Message Cloud</h1>
                        </div>
                        <div class="col col--8-of-12 col--m-2-of-4 col--s-2-of-2">
                            <img class="fadein" src="img/chat-inbox/page-header.png" alt="">
                        </div>

                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="row">
                    <h5>COMPANY OVERVIEW</h5>
                    <p>Onedirect designs and builds technology that help improve the customer experience (CX) of the brands.
                        Service cloud our ticketing platform which enables brands to collect user grievances from all the
                        channels. This tool has been deployed across significant brands like Indian Railway, Myntra, Dominos,
                        etc.
                    </p>
                </div>

                <div class="row">
                    <h5>PRODUCT OBJECTIVES</h5>

                    <p>Our goal is to help brands to create delightful customer experience across all the digital touchpoints.
                        We wanted a solution which can address customers problems as fast as possible.</p>
                    <br>

                    <p>We believe the live chat is one solution to address this problem, since live chat is been playing a significant
                        role in improving CX of many brands including Swiggy, Amazon, etc. </p>
                    <br>

                    <p>The problem was lots of brands wanted to give the same customer experience but couldn't, because of the
                        following problems.</p>
                    <br>
                    <ul>
                        <li> Don't have enough tech resource to build a platform from scratch</li>
                        <li> Lack of a platform that connects to all the channels like WhatsApp, telegram, etc.</li>
                        <li> Lack of integration with their existing CRM.</li>
                        <li> Existing live chat solution didn't handle all the business use case.</li>
                    </ul>
                    <br>
                </div>
                <div class="row">
                    <h5>PRODUCT APPROACH & TEAM </h5>
                    <p>At OneDirect, we follow agile methodology over waterfall model that can help us to build and test product
                        ideas quickly to reduce the overall development time. I worked closely with PMs, Cofounders, UI Lead,
                        Development team, Sales and Support team throughout its products sprints. </p>
                </div>
                <div class="row">
                    <h5>BUSINESS REQUIREMENT</h5>
                    <p>Brands needed to give the most significant customer experience to their users. Our solution makes use
                        of chat as a platform to address brand users problem and resolve them in a fast and elegant way.
                        The app will solve the following problems:
                    </p>
                    <br>
                    <ul>
                        <li> Access all the communication channel Whatsapp, Mobile, Desktop Web, etc.</li>
                        <li> Manage 100's of agents at a time.</li>
                        <li> 1:1 chat with brands with full privacy for business.</li>
                        <li> Manage business hours of brands.</li>
                        <li> Integration with existing CRM tools that brands use.</li>
                        <li> Agents can reply to the customer maintaining minimum FRT possible.</li>
                        <li> Brand owners should able to Monitor Agents performance.</li>
                        <li> Automate frequently asked questions by the customers this reducing interruption on agents.</li>
                    </ul>

                </div>



                <div class="row">
                    <h5>DISCOVERY - USERS IN CONTEXT</h5>
                    <h6>Competitive Analysis</h6>
                    <p>We learned & analyzed some of our competitors including intercom, live chat, crisp and submitted a detailed
                        report having checklists for our management team. However, it's not possible to show those details
                        here due to NDA.</p>
                    <br>
                    <h6>Contextual Inquiry</h6>
                    <p>Since we were not building a new concept, as lots of brands are already using Intercom and LiveChat Inc.
                        Since the mental model was already there, so the goal was to understand the problems of the existing
                        solution so we can improve upon it.</p>
                    <br>

                    <p>We came up with some qualitative insights after the contextual inquiry session and after talking to 8
                        brands within 10 days across 3 cites. The following points can help us understand brands major pain
                        points:
                    </p>
                    <br>
                    <ul>
                        <li> Brands were not happy with the solution provided by intercom as they were not focused for live chat
                            use case.</li>
                        <li> Lack of integration with CRM Tools resulted in switching context a lot.</li>
                        <li> Existing tools failed to set write expectation to the user about reply time and absence of the agents.</li>
                        <li> The user experience for end customers on the mobile device is not proper</li>
                        <li> Brands are already using WhatsApp as a channel for the customer to talk, but since there is no integration
                            with other tools, manually they have put issues in CRM tool.</li>
                    </ul>
                    <br>
                    <h6>Persona</h6>
                    <p>Our product primarily will be used by an agent who is hired by the brands for the customer support operation.
                        The reason I decided to develop our persona model is that it can help our product team to match every
                        user story we try to solve in line with our business requirement, and I wanted I tech team to understand
                        why we are taking up certain features.
                    </p>
                    <img class="fadein" src="img/chat-inbox/persona.png" alt=""><br>
                    <br>
                    <h6>User Stories</h6>
                    <p>By looking into business requirement and pain points discovered during interviews, we started prioritizing the over which features are essential for the first release. Based on the prioritization we combined all user stories and heaped them as activities, separated them into tasks, and a series of user stories respectively.
                        </p><br>
                        <div class="full-width-image-container">
                                <div class="full-width-image">
                                    <img class="fadein" src="img/chat-inbox/storyboard.png" alt="">
                                </div>
                            </div>

                </div>

                <div class="load-img">
                    <br>
                    <div class="container">
                        <img class="fadein" src="img/goodkarma/wireframesv1.png" alt="">
                    </div>
                </div>
                <br>


                <div class="full-width-image-container">
                    <div class="full-width-image">
                        <img class="fadein" src="img/chat-inbox/components.png" alt="">
                    </div>
                </div>



            </div>
        </div>
        <%- partial("partials/_related-works",{ title: "Conferencia", link: "conferencia.html" }) %>
            <%- partial("partials/_footer") %>
</div>
</div>
<%- partial("partials/_revealfadeanimation") %>