<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="tvshow-landing-container" style="background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);">
                <div class="container">
                    <div class="row">
                        <div class="col col--4-of-12 col--m-2-of-4 col--s-2-of-2 tvshow-landing-text">
                            <h1>OD Message Cloud</h1>
                        </div>
                        <div class="col col--8-of-12 col--m-2-of-4 col--s-2-of-2">
                            <img class="fadein" src="img/chat-inbox/page-header.png" alt="">
                        </div>

                    </div>
                </div>
            </div>

            <div class="post-container">
                <div class="row">
                    <h5>01 COMPANY OVERVIEW</h5>
                    <p>Onedirect designs and builds technology that help improve the customer experience (CX) of the brands.
                        Service cloud our ticketing platform which enables brands to collect user grievances from all the
                        channels. This tool has been deployed across significant brands like Indian Railway, Myntra, Dominos,
                        etc.
                    </p>
                </div>

                <div class="row">
                    <h5>02 PRODUCT OBJECTIVES</h5>

                    <p>Our goal is to help brands to create delightful customer experience across all the digital touchpoints.
                        We wanted a solution which can address customers problems as fast as possible.</p>
                    <br>

                    <p>We believe the live chat is one solution to address this problem, since live chat ishy we are taking up playing a significant
                        role in improving CX of many brands including Swiggy, Amazon, etc. </p>
                    <br>

                    <p>The problem was lots of brands wanted to give the same customer experience but couldn't, because of the
                        following problems.</p>
                    <br>
                    <ul>
                        <li> Don't have enough tech resource to build a platform from scratch</li>
                        <li> Lack of a platform that connects to all the channels like WhatsApp, telegram, etc.</li>
                        <li> Lack of integration with their existing CRM.</li>
                        <li> Existing live chat solution didn't handle all the business use case.</li>
                    </ul>
                    <br>
                </div>
                <div class="row">
                    <h5>03 PRODUCT APPROACH & TEAM </h5>
                    <p>At OneDirect, we follow agile methodology over waterfall model that can help us to build and test product
                        ideas quickly to reduce the overall development time. I worked closely with PMs, Cofounders, UI Lead,
                        Development team, Sales and Support team throughout its products sprints. </p>
                </div>
                <div class="row">
                    <h5>04 BUSINESS REQUIREMENT</h5>
                    <p>Brands needed to give the most significant customer experience to their users. Our solution makes use
                        of chat as a platform to address brand users problem and resolve them in a fast and elegant way.
                        The app will solve the following problems:
                    </p>
                    <br>
                    <ul>
                        <li> Access all the communication channel Whatsapp, Mobile, Desktop Web, etc.</li>
                        <li> Manage 100's of agents at a time.</li>
                        <li> 1:1 chat with brands with full privacy for business.</li>
                        <li> Manage business hours of brands.</li>
                        <li> Integration with existing CRM tools that brands use.</li>
                        <li> Agents can reply to the customer maintaining minimum FRT possible.</li>
                        <li> Brand owners should able to Monitor Agents performance.</li>
                        <li> Automate frequently asked questions by the customers this reducing interruption on agents.</li>
                    </ul>

                </div>



                <div class="row">
                    <h5>05 DISCOVERY - USERS IN CONTEXT</h5>
                    <h6>Competitive Analysis</h6>
                    <p>We learned & analyzed some of our competitors including intercom, live chat, crisp and submitted a detailed
                        report having checklists for our management team. However, it's not possible to show those details
                        here due to NDA.</p>
                    <br>
                    <h6>Contextual Inquiry</h6>
                    <p>Since we were not building a new concept, as lots of brands are already using Intercom and LiveChat Inc.
                        Since the mental model was already there, so the goal was to understand the problems of the existing
                        solution so we can improve upon it.</p>
                    <br>

                    <p>We came up with some qualitative insights after the contextual inquiry session and after talking to 8
                        brands within 10 days across 3 cites. The following points can help us understand brands major pain
                        points:
                    </p>
                    <br>
                    <ul>
                        <li> Brands were not happy with the solution provided by intercom as they were not focused for live chat
                            use case.</li>
                        <li> Lack of integration with CRM Tools resulted in switching context a lot.</li>
                        <li> Existing tools failed to set write expectation to the user about reply time and absence of the agents.</li>
                        <li> The user experience for end customers on the mobile device is not proper</li>
                        <li> Brands are already using WhatsApp as a channel for the customer to talk, but since there is no integration
                            with other tools, manually they have put issues in CRM tool.</li>
                    </ul>
                    <br>
                    <h6>Persona</h6>
                    <p>Our product primarily will be used by an agent who is hired by the brands for the customer support operation.
                        The reason I decided to develop our persona model is that it can help our product team to match every
                        user story we try to solve in line with our business requirement, and I wanted I tech team to understand
                        why we are taking up specific features.
                    </p>
                    <img class="fadein" src="img/chat-inbox/persona.png" alt="">
                    <br>
                    <br>
                    <h6>User Stories</h6>
                    <p>By looking into business requirement and pain points discovered during interviews, we started prioritizing
                        the over which features are essential for the first release. Based on the prioritization we combined
                        all user stories and heaped them as activities, separated them into tasks, and a series of user stories
                        respectively.
                    </p>
                    <br>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/storyboard.png" alt="">
                        </div>
                    </div>

                </div>


                <div class="row">
                    <h5>06 DESIGNS</h5>
                    <h6>Style guide</h6>
                    <p>We already had a style guide and design system which we were using for other product verticals. We shared
                        this style guide with our development team for the reference. Shown below few components of our style
                        guide we were using. </p>
                    <br>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/components.png" alt="">
                        </div>
                    </div>
                    <h6>Chat Inbox Structure</h6>
                    <p>We divided our chat inbox into 4 sections</p>
                    <br>
                    <ul>
                        <li>Views: Views can be thought of as a collection of applied filter. For example "Assigned to me" is
                            the default view where an agent can see all the chats assigned to him. The agent can also create
                            a new view based on different criteria.</li>
                        <li>Chat Listing: Based on the views selected all the conversations which follow its rules will be listed
                            here.
                        </li>
                        <li>Chat Window: It contains both chat conversation were agent can view and reply to customers and conversation
                            actions where the agent can take steps regarding the conversation like changing priority, blocking,
                            etc.
                        </li>
                        <li>Apps: This section gives information regarding customer agent and chats conversation details. </li>
                    </ul>
                    <br>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/homescreen.png" alt="">
                        </div>
                    </div>

                    <h6>User Messages</h6>
                    <p>Since message being core part of our product, we designed different versions to represent different states
                        of the conversation like new chat, seen chat, replied chat, etc. </p>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/conversation-status.png" alt="">
                        </div>
                    </div>
                    <h6>Apps</h6>
                    <p>This section gives information regarding customer agent and chats conversation details. It is designed
                        with scalability in mind. In the future, each brand can write their own custom apps according to
                        their custom flow or integrations.</p>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/apps.png" alt="">
                        </div>
                    </div>
                    <h6>Canned Response</h6>
                    <p>This section gives information regarding customer agent and chats conversation details. It is designed
                        with scalability in mind. In the future, each brand can write their own custom apps according to
                        their custom flow or integrations.</p>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/canned-response.png" alt="">
                        </div>
                    </div>
                    <h6>Thinking like a developer, the edge cases</h6>
                    <p>When we design products we apply the 80/20 rule and develop the user experience for the most probable
                        scenario of interaction. In most cases this allows us to create a good user experience for our users.
                        But attention to detail is what really separates excellent design from good design. Designing for
                        edge cases is a great example of attention to details.</p>
                    <div class="full-width-image-container">
                        <div class="full-width-image">
                            <img class="fadein" src="img/chat-inbox/final-ui.png" alt="">
                        </div>
                    </div>




                </div>
                <div class="row">
                    <h5>07 USER TESTING</h5>
                    <p>Since we already had an in-house customer support team for tapzo. One of the goals of testing was to
                        understand the behavior of agents to a few new features we included like a canned response. The second
                        was to discover where are all the agent confused and to understand why they are so. Withing in the
                        limited time I did usability testing by asking agents to perform certain user story which I observed
                        during my user research with different brands.</p>
                    <br>
                    <img class="fadein" src="img/chat-inbox/report.png" alt="">
                    <p>Few major problems we found was agents couldn't associate CRM as part of application section we built.
                        Second difficult in changing agent status. We had to rethink how it should be done, but since it
                        was very tight deadlines we decided to take it up in the next sprint.</p>

                </div>

                <div class="row">
                    <h5>08 LAUNCH</h5>
                    <p>Message Cloud was released on July 20th. We got Oneplus as the first client which started setting up with
                        their team from day 3 onwards after launch </p>
                </div>
                <div class="row">
                    <h5>09 LEARNING I HAD</h5>
                    <ul>
                        <li>In the enterprise, it's hard to all the design process, but that said it also not excuse not do. If
                            you as designer believe it  will add value if can do very minimum of process fight for it.</li>
                        <li>Its hard to do user search when it comes to B2B Clients, you need setup meeting sign NDAs etc.. So
                            make sure you get most of out of it.</li>
                        <li>Running a lot of experiment is hard when it comes to B2B</li>
                        <li>Don't expect people will agree even if you have valid point. Yes, you have to go ahead make them trust
                            you.</li>
                        <li>The use case for the big enterprise is different for each its hard give one general solution for all. You need to think how each design can be customized to different brands.</li>
                    </ul>
                    <br>
                    <h6>Special Thanks</h6>
                    <p>My Product Manager at time <a style="color: #194AFF;text-decoration:underline;"href="https://www.linkedin.com/in/puja-anand-b7a67860/" target="_blank">Puja Anand</a></p>
                </div>




            </div>
        </div>
        <%- partial("partials/_related-works",{ title: "Conferencia", link: "conferencia.html" }) %>
            <%- partial("partials/_footer") %>
</div>
</div>
<%- partial("partials/_revealfadeanimation") %>