<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
    <div class="show-page-content list-view">
            <div class="opensource-container container">
                <div class="row">
                    <div class="col col--9-of-12">
                        <h4>Designer with ❤️ for technology. </h4>
                        <p>Here are few projects I have dabbled with.</p>
                        <!-- <p>I started coding because of the delight of producing something lively. It assisted me to build something very minimal and validate my designs in the very early phase of the development.</p><br>
                        <p>  I am not expert in coding neither I wanted to be. My goal concerning programming is to understand how technology works and use this knowledge to improve my design process.</p><br>
                        <p> </p> -->
                    </div>
                </div>
                <br>


                <div class="row">
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>🎞 Movie Curator</h3>
                            <p>
                                <b>Goal: </b> Understand how the component based web library (React) function.</p>
                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/Curator" target="_blank">Source</a>
                                <a class="external-link" href="https://curator.johnthachil.com/" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>❝ DQ - Designer's Quotes</h3>
                            <p>
                                <b>Goal: </b> Learning color accessibility of web</p>

                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/dq" target="_blank">Source</a>
                                <a class="external-link" href="http://johnthachil.github.io/dq/" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>🎦 M-Grid</h3>
                            <p>
                                <b>Goal: </b> Experiment with APIs & CSS Frameworks</p>

                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/Moovie" target="_blank">Source</a>
                                <!-- <a class="external-link" href="http://johnthachil.github.io/Moovie/" target="_blank">Demo</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>🔑 Login Modal</h3>
                            <p>
                                <b>Goal: </b> Experiment with CSS</p>
                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/Login_Modal" target="_blank">Source</a>
                                <a class="external-link" href="http://johnthachil.github.io/Login_Modal" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>🏞 Unsplash</h3>
                            <p>
                                <b>Goal: </b> Experiment with CSS Fluid wall grid</p>

                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/unsplash" target="_blank">Source</a>
                                <a class="external-link" href="http://johnthachil.github.io/unsplash" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>📝 NoteNote</h3>
                            <p>   <b>Goal: </b> Learning Rails basics: Models, Controllers & Views</p>

                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/NoteNote" target="_blank">Source</a>
                                <a class="external-link" href="https://flask-notenote.herokuapp.com" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>💻 Bourbon Challenge</h3>
                            <p><b>Goal: </b> Learning Bourbon CSS Framework</p>

                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/BourbonChallenge" target="_blank">Source</a>
                                <a class="external-link" href="http://johnthachil.github.io/BourbonChallenge" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col--4-of-12">
                        <div class="card">
                            <h3>🎵 Trackr</h3>
                            <p></p><b>Goal: </b> API Experimentation

                            <div class="link-container">
                                <a class="external-link" href="https://github.com/johnthachil/Trackr" target="_blank">Source</a>
                                <a class="external-link" href="https://github.com/johnthachil/Trackr" target="_blank">Demo</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>