<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
    <div class="show-page-content list-view">
            <div class="opensource">

                    <h1>2016</h1>
                    <hr>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>DQ - Designer's Quotes</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/dq" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/dq/" target="_blank">Demo</a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>M-Grid</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/Moovie" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/Moovie/" target="_blank">Demo</a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>BourbonChallenge</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/BourbonChallenge" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/BourbonChallenge" target="_blank">Demo</a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>Login Modal</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/Login_Modal" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/Login_Modal" target="_blank">Demo</a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>Web Resume</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/resume" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/resume/" target="_blank">Demo</a>
                        </div>
                    </div><br>
                    <h1>2015</h1>
                    <hr>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>Unsplash</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/unsplash" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/unsplash" target="_blank">Demo</a>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>Answer-Engine</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/Small-Answer-Engine" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <!-- <a href="">Demo</a> -->
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>Trackr</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/Trackr" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="http://johnthachil.github.io/Trackr" target="_blank">Demo</a>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="col col--6-of-8 ">
                            <p>NoteNote</p>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4">
                            <a class="external-link" href="https://github.com/johnthachil/NoteNote" target="_blank">Source</a>
                        </div>
                        <div class="col col--1-of-8 col--m-1-of-4 col--s-1-of-4 ">
                            <a class="external-link" href="https://flask-notenote.herokuapp.com" target="_blank">Demo</a>
                        </div>
                    </div>
            </div>
    </div>
    <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>
