<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="show-page-content list-view">
            <div class="opensource-container container">
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>DQ - Designer's Quotes</h3>
                        <a class="external-link" href="https://github.com/johnthachil/dq" target="_blank">Source</a>
                        <a class="external-link" href="http://johnthachil.github.io/dq/" target="_blank">Demo</a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>M-Grid</h3>
                        <a class="external-link" href="https://github.com/johnthachil/Moovie" target="_blank">Source</a>
                        <a class="external-link" href="http://johnthachil.github.io/Moovie/" target="_blank">Demo</a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>Bourbon Challenge</h3>
                        <a class="external-link" href="https://github.com/johnthachil/BourbonChallenge" target="_blank">Source</a>
                        <a class="external-link" href="http://johnthachil.github.io/BourbonChallenge" target="_blank">Demo</a>
                    </div>


                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>Login Modal</h3>
                        <a class="external-link" href="https://github.com/johnthachil/Login_Modal" target="_blank">Source</a>
                        <a class="external-link" href="http://johnthachil.github.io/Login_Modal" target="_blank">Demo</a>
                    </div>

                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>Web Resume</h3>
                        <a class="external-link" href="https://github.com/johnthachil/resume" target="_blank">Source</a>
                        <a class="external-link" href="http://johnthachil.github.io/resume/" target="_blank">Demo</a>
                    </div>

                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>Unsplash</h3>
                        <a class="external-link" href="https://github.com/johnthachil/unsplash" target="_blank">Source</a>
                        <a class="external-link" href="http://johnthachil.github.io/unsplash" target="_blank">Demo</a>
                    </div>


                </div>

                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>Answer-Engine</h3>
                        <a class="external-link" href="https://github.com/johnthachil/Small-Answer-Engine" target="_blank">Source</a>
                    </div>
                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>Trackr</h3>
                        <a class="external-link" href="https://github.com/johnthachil/Trackr" target="_blank">Source</a>
                        <a class="external-link" href="https://github.com/johnthachil/Trackr" target="_blank">Demo</a>
                    </div>

                </div>
                <div class="list-item">
                    <div class="col col--10-of-12 blog-title">
                        <h3>NoteNote</h3>
                        <a class="external-link" href="https://github.com/johnthachil/NoteNote" target="_blank">Source</a>
                        <a class="external-link" href="https://flask-notenote.herokuapp.com" target="_blank">Demo</a>
                    </div>
                </div>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>