<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="work-content load-img">
            <div class="row">
                    <div class="col col--4-of-12 col--m-2-of-4 box">
                            <a href="message-cloud.html">
                                <div class="overlay">
                                    <img src="img/c12.jpg" alt="">
                                    <div class="info">
                                        <div class="info-content">
                                            <h4>OD Message Cloud</h4>
                                            <!-- <p>Redesign concept Ticket booking app with protype build in principle app</p> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col col--4-of-12 col--m-2-of-4 box">
                                <a href="od-design-system.html">
                                    <div class="overlay">
                                        <img src="img/c13.jpg" alt="">
                                        <div class="info">
                                            <div class="info-content">
                                                <h4>OD Design System</h4>
                                                <!-- <p>Redesign concept Ticket booking app with protype build in principle app</p> -->
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>

                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="good-karma-practitioner.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961330/portfoliopage/c9.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Good Karma Studio</h4>
                                    <!-- <p>Redesign concept Ticket booking app with protype build in principle app</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="conferencia.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961330/portfoliopage/c11.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Conferencia</h4>
                                    <!-- <p>Redesign concept Ticket booking app with protype build in principle app</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="swift-drop.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961330/portfoliopage/c10.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>SwiftDrop</h4>
                                    <!-- <p>Redesign concept Ticket booking app with protype build in principle app</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="ticket-new.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961328/portfoliopage/c5.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Ticket New </h4>
                                    <!-- <p>Redesign concept Ticket booking app with protype build in principle app</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="nautilus-website.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961328/portfoliopage/c6.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Nautilus</h4>
                                    <!-- <p>My College Tech Fest website design.</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="sieve.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961329/portfoliopage/c4.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Sieve</h4>
                                    <!-- <p>Freelance work designed for Hoffen Global</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="tvshow-prototype.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961329/portfoliopage/c7.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Tv Show App</h4>
                                    <!-- <p>First prototype Using princple application</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col col--4-of-12 col--m-2-of-4 box">
                    <a href="isometric-art.html">
                        <div class="overlay">
                            <img src="https://res.cloudinary.com/drch6exvq/image/upload/v1500961330/portfoliopage/c8.jpg" alt="">
                            <div class="info">
                                <div class="info-content">
                                    <h4>Isometeric Art</h4>
                                    <!-- <p>3D art using cinema 4d</p> -->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <br>
            <div style="text-align:-webkit-center">
                <a href="https://www.dropbox.com/sh/84w9acaubb5guvr/AAACdsqfNd04rOWoS_4dQZSpa?dl=0" target="_blank">
                    <div class="big-button">Show more</div>

                </a>
            </div>
            <br><br>

        </div>

        <%- partial("partials/_footer") %>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        window.sr = ScrollReveal({
            container: document.getElementById('mycanvas'),
            easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
        });
        NProgress.start();
        $('.load-img').imagesLoaded()
            .always(function (instance) {})
            .done(function (instance) {
                NProgress.done();
                $("#mycanvas").animate({
                    opacity: "1"
                }, 700);
                sr.reveal('.box', {
                    duration: 260
                }, 100);
            })
    });
</script>