<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="ticket-container">
            <div class="tvshow-landing-container" style="background-color:#EAEFF2">
                <div class="container">

                    <div class="row">
                        <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2 tvshow-landing-text" style="color:#222">
                            <h1>SwiftDrop</h1>
                        </div>
                        <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                            <img class="fadein" src="img/swift-fly.png" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <div class="down">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>

            </div>
            <div class="show-info gk-show-info">
                <div class="container">


                    <div class="row">
                        <div class="col col--3-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                            <h5>GOAL</h5>
                        </div>
                        <div class="col col--9-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                            <p class="text-align-left">Small Businesses needing to transport items/goods within the city can use SwiftFly mobile app to schedule a pickup and specify drop instructions. The items / goods to be transported can range from anything such as chairs to
                                food to something more fragile like glass panes.</p>

                        </div>

                    </div>

                </div>
            </div>
            <div class="show-info gk-show-info">
                <div class="container">


                    <div class="row">
                        <div class="col col--3-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                            <h5>USER TARGET</h5>
                        </div>
                        <div class="col col--9-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                            <img src="img/swift-drop-target-user.svg" alt="">
                            <p class="text-align-left">This is a design sprint that I did for one my side project Basically, a two day action of — research,, wireframing, designing and documenting the whole process parallely. To reduce the scope of design I have to go with customer
                                base that I am easily to accessible </p>


                        </div>

                    </div>

                </div>
            </div>



            <div class="show-info gk-show-info">
                <div class="container">


                    <div class="row">
                        <div class="col col--3-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                            <h5>PROCESS</h5>
                        </div>
                        <div class="col col--9-of-12 col--m-2-of-4 col--s-2-of-2 text-align-left">
                            <img src="img/swift-drop-process.svg" alt="">
                            <p>Due to time constraint, I had reduced the scope of the design. Firstly I targeted this design to be used by small retails shops to transport their good on demand. Basically Uber for good transport.</p>
                            <p>The design only consists of the consumer part of the whole design. I kicked off this project with <a href="https://paper.dropbox.com/doc/SwiftDrop-1tBFEFDqZxlWYUduScr3h" target="_blank">user interview</a> to get a better understanding of the user I am designing for. This helped me to point out their pain points of
                                the user. After user interview, I was able to sketch proto-persona detailing their demographics, behavior, and needs.</p>
                            <p>User Persona acted good tool help which helped me be to come up with ideas and assumptions which would help to resolve the user problems. After sketching ideas I started creating wireframing the concept app. Wireframing helped
                                to come with iteration very fast and get feedback with user flow and an overall understanding of app to the user.</p>

                        </div>

                    </div>

                </div>
            </div>


            <div class="load-img gk-image-holder">
                <div style="text-align:center;" class="container">
                    <h5>FINAL DESIGNS</h5><br>
                    <img src="img/swift-drop-design-01.jpg" alt="">
                    <img src="img/swift-drop-design-02.jpg" alt="">
                    <img src="img/swift-drop-design-03.jpg" alt="">

                </div>
            </div>



            <%- partial("partials/_related-works",{ title: "Ticket New Redesign", link: "ticket-new.html" }) %>
                <%- partial("partials/_footer") %>
        </div>
</div>
<%- partial("partials/_revealfadeanimation") %>
