<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>
    <div class="ticket-container">
        <div class="ticket-landing-container">
            <div class="container">

                <div class="row">
                    <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2 ticket-landing-text">
                        <h1>Ticket New Redesign</h1>
                    </div>
                    <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                        <img class="fadein" src="img/ticket.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="down">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>

        </div>
        <div class="show-info">
            <div class="container">
                <h2>Ticket New Redesign</h2>
                <p>This is a Redesign of movie ticket booking app 'Ticket New'. I borrowed their original primary color 'Gorse' and gave it simple and minimal design with visuals to balance space in view. The design was done Sketch and made prototype in
                    Principle</p>
            </div>
        </div>
        <div class="ticket-work load-img">
            <div class="container">
                <div class="ticket-bg">
                    <div class="ticket-one">
                        <div class="row">
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <h1>Landing View</h1>
                                <p>Showcase new release in horizontal image scroll, all current movies can be selected from vertical view and Movie available on the particular date can be checked. </p>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <img class="fadein" src="img/ticket.png" alt="">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <div class="ticket-one">
                        <div class="row">

                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <img class="fadein" src="img/t2.png" alt="">
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <h1>Movie View</h1>
                                <p>Pick Movie date, seats, time and Theater</p>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="ticket-one">
                        <div class="row">
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <h1>Pick Seat</h1>
                                <p>User Can Choose Their Desired Seats.</p>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <img class="fadein" src="img/t3.png" alt="">
                            </div>

                        </div>

                    </div>
                    <hr>
                    <div class="ticket-one">
                        <div class="row">

                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2 ">
                                <img class="fadein" src="img/t4.png" alt="">
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <h1 class="">Tickets</h1>
                                <p>Users can view Their current Tickets as well old ones. Each ticket is given unique barcode which is scanned at entry at theater for easy verification</p>
                            </div>

                        </div>

                    </div>
                    <hr>
                    <div class="ticket-one">
                        <div class="row">
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <h1>Prototype</h1>
                                <p>Created Using Principle</p>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2 ">
                                <div class="gif-container">
                                    <img class="fadein" src="http://res.cloudinary.com/drch6exvq/image/upload/v1468939797/Personal%20Site/tick.gif" alt="" style="width:50%;">
                                    <div class="grey-box"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- partial("partials/_related-works",{ title: "Nautilus", link: "nautilus-website.html" }) %>
        <%- partial("partials/_footer") %>


    </div>
</div>
<%- partial("partials/_revealfadeanimation") %>
