<div id="full-container" canvas="container">
    <%- partial("partials/_nav") %>
    <div class="ticket-container">
        <div class="tvshow-landing-container">
            <div class="container">

                <div class="row">
                    <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2 tvshow-landing-text">
                        <h1>TV Show Trackr</h1>
                    </div>
                    <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                        <img class="fadein" src="img/tvshow.png" alt="">
                    </div>

                </div>
            </div>
        </div>
        <div class="down">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>

        </div>
        <div class="show-info">
            <div class="container">
                <h2>TV Show Trackr</h2>
                <p>Application Designed to keep track of TV Shows</p>
            </div>
        </div>
        <div class="ticket-work load-img">
            <div class="container">
                <div class="ticket-bg">
                    <div class="ticket-one">
                        <div class="row">
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <h1>Landing View</h1>
                                <p>Consist of different TV shows listed in horizotal view</p>
                            </div>
                            <div class="col col--6-of-12 col--m-2-of-4 col--s-2-of-2">
                                <img class="fadein" src="img/tvshow.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- partial("partials/_related-works",{ title: "Isometeric Art", link: "isometric-art.html" }) %>

        <%- partial("partials/_footer") %>

    </div>
</div>
<%- partial("partials/_revealfadeanimation") %>
