<div id="mycanvas" canvas="container">
    <%- partial("partials/_nav") %>
        <div class="post-bg">
            <div class="post-container">
                <h1>CouponDunia</h1>
                <time class="post-time">15 May 2017</time>
                <section class="post-content load-img">
                    ------
                    <p style="color:#CD3232">Note: This URL is a private link. It cannot be accessed directly from my johnthachil.com domain</p>

                    <img src="img/coupoundunia-cover.jpg" alt="">
                    <h1>Direct - Bubble conference app</h1>

                    <h2>OBJECTIVE</h2>

                    <p>Create a way of to improve the experience conference calling application for people working in startups and freelancers who struggle in </p>

                    <ul>
                    <li>Scheduling meeting with co-workers.</li>
                    <li>Switching between calendar and conference app to schedule meetings.</li>
                    <li>Spending too much time to set up a meeting with co-workers.</li>
                    <li>Ensuring everyone is present before the call.</li>
                    <li>Sharing information to and from among.</li>
                    </ul>

                    <h2>RESEARCH</h2>

                    <p>For my research, I initially conducted quick and open-ended (unstructured) interviews to find out the current problems that my friend working in startups often face while setting up the conference.</p>

                    <h2>FINDINGS</h2>

                    <h3>I have a hard time &#8230;</h3>

                    <ul>
                    <li>Ensuring the availability of other users in conference while setting up conference</li>
                    <li>Switching between difference application calendar and conference app (Skype) to check there is no conflict in schedule.</li>
                    <li>Ensuring each person is ready to start meeting before meeting</li>
                    <li>Keeping track of all the calls</li>
                    <li>Recalling the all conversation after the conference has finished.</li>
                    <li>Getting context of the meeting.</li>
                    </ul>

                    <h3>I Wanted to&#8230;</h3>

                    <ul>
                    <li>Need to know about availability of the other users in conference</li>
                    <li>One place to know all my scheduled calls</li>
                    <li>Recall every piece of information shared between user in conference</li>
                    <li>Notification regarding all the meeting which happens to go to happen</li>
                    <li>Able find all documents which I needed to attend the call in one place.</li>
                    </ul>
                </section>
            </div>
        </div>
        <%- partial("partials/_footer") %>

</div>
<%- partial("partials/_page-trans") %>
