$sunset-orange:#EF476F;
$golden-rod:#FED766;
$bodi-blue:#009FB7;
$tango:#F28123;


.sunset-orange{
  background-color:$sunset-orange
}
.golden-rod{
  background-color:$golden-rod
}
.bodi-blue{
  background-color:$bodi-blue
}
.tango{
  background-color:$tango
}
