/* General Styles
   ========================================================================== */
html {
	font-size: 18px;
	font-family: 'Monda', sans-serif;
	color: #27303b;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.row{
	margin-bottom: 20px;
	margin-left: 0;
}
iframe{
	margin: 0 auto;
}
a{
	text-decoration: none;
}
#full-container {
	opacity: 0;
}
* {
	line-height: 39px;
	line-height: 2.022222222222222rem;
}
@media (max-width: $toast-breakpoint-medium) {
	html {
		font-size: 16px;
		font-size: 100%;
	}
}
@media (max-width: $toast-breakpoint-small) {
	* {
		line-height: 26px;
		line-height: 1.625rem;
	}
}
* {
	margin-bottom: 0;
	margin-top: 0;
}
img {
	max-width: 100%;
}
.text-align-left{
	text-align: left;
}
