/* General Styles
   ========================================================================== */
html {
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	color: hsl(200, 10%, 19%);
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a{
	text-decoration: none;
}
#full-container {
	opacity: 0;
}
@media (max-width: $toast-breakpoint-small) {
	html {
		font-size: 16px;
		font-size: 100%;
	}
}
* {
	line-height: 31px;
	line-height: 1.722222222222222rem;
}
@media (max-width: $toast-breakpoint-small) {
	* {
		line-height: 26px;
		line-height: 1.625rem;
	}
}
* {
	margin-bottom: 0;
	margin-top: 0;
}
img {
	max-width: 100%;
}
