<div class="container">
    <div class="footer">
        <div class="site-map">
            <a href="/">Home</a><span href=""></span>
            <a href="portfolio.html">Portfolio</a><span href=""></span>
            <a href="open-source.html">Open source</a>
            <a href="all-blog.html">Blogs</a>

        </div><br>
    </div>
</div>
