<div class="footer">
  <div class="container">
    <a href="https://www.twitter.com/jothachil" target="_blank"><i class="fa fa-twitter color-icons" aria-hidden="true"></i></a>
    <a href="https://www.behance.net/johnthachil" target="_blank"><i class="fa fa-behance color-icons" aria-hidden="true"></i></a>
    <a href="mailto:jothachil@gmail.com">Email</a>
    <a href="https://www.dropbox.com/s/9jwy7jkqs0xojk2/Resume%20-%20John%20Thachil.pdf?dl=0" target="_blank">Resume</a>

    <i class="fa fa-copyright" aria-hidden="true"></i>
    John Thachil
  </div>
</div>
