<div class="container">
    <div class="nav">

        <div class="row">
          <div class="col col--6-of-12 col--m-2-of-4">
            <a href="index.html"><h3>JOHN</h3></a>

          </div>
          <div class="col col--6-of-12 col--m-2-of-4">
            <div class="site-map">
                <a class="<%- current.source == 'portfolio' ? 'active' : '' %>" href="portfolio.html">Portfolio</a><span href=""></span>
                <a class="<%- current.source == 'open-source' ? 'active' : '' %>" href="open-source.html">Open source</a>
                <a class="<%- current.source == 'all-blogs' ? 'active' : '' %>" href="all-blogs.html">Blogs</a>
          </div>

          </div>
        </div>
    </div>
</div>
