<div class="nav">
    <button class="js-toggle-right-slidebar hamburger hamburger--slider" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    <a href="index.html"><h3>JOHN</h3></a>
</div>
