<div class="related-work">
  <div class="row">
    <div class="col col--6-of-12 col--m-2-of-4 next-container">
      <h2>Prev</h2>
      <p>Donec id elit non mi porta gravida at eget metus.</p>
    </div>
    <div class="col col--6-of-12 col--m-2-of-4 prev-container">
      <h2>Next</h2>
      <p>Donec id elit non mi porta gravida at eget metus.</p>
    </div>
  </div>
</div>
