<div class="related-work">
  <div class="row">
    <div class="col col--12-of-12 col--m-4-of-4 next-container">
      <div class="container">
        <h4>Next</h4>
      <a href="<%- link%>"><h2><%- title%></h2></a>
      </div>
    </div>
  </div>
</div>
