<div off-canvas="slidebar-2 right shift">
    <div class="sidebar">
        <ul>
            <li class="<%- current.source == 'index' ? 'active' : '' %>"><a href="/">Home</a></li>
            <li class="<%- current.source == 'portfolio' ? 'active' : '' %>"><a href="portfolio.html">Portfolio</a></li>
            <li class="<%- current.source == 'all-blogs' ? 'active' : '' %>"><a href="all-blogs.html">Blog</a></li>
            <li class="<%- current.source == 'open-source' ? 'active' : '' %>"><a href="open-source.html">Open source</a></li>

        </ul>
        <div class="bottom">
            <a href="https://www.dropbox.com/s/0scox52jnofa940/web.pdf?dl=0" target="_blank">
                <div class="big-button">Resume</div>
            </a>
            <a href="mailto:jothachil@gmail.com">
                <div class="big-button">Contact Me </div>
            </a>
        </div>
    </div>
</div>
