
.footer {
	margin-top: 40px;
	text-align: left;
	.site-map {
		a {
			font-weight: 100;
			font-size: 1em;
			text-decoration: none;
			color: #222;
			padding-right: 20px;
			padding-left: 20px;

			border-right: 1px solid RGBA(34, 34, 34, 0.2);
			&:last-child{
				border-right: none;

			}
			&:first-child{
				padding-left: 0;

			}
			&:hover{
				text-decoration: underline;
				color: RGBA(25, 74, 255, 1.00);
			}
		}

	}
	span{
		position: relative;
		top: 2px;
	}
	p {
		font-size: 0.8em;
		margin-top: 2px;
		margin-bottom: 20px;
	}
}
