.nav {
  margin: 30px 0px 20px 0;
  .logo {
    width: 70px;
    height: 40px;
  }
  .site-map {
    text-align: right;
    text-transform: uppercase;
    .active {
      font-weight: bold;
    }
    .site-link {
      text-decoration: none;
      padding: 0 20px;
      border-right: 1px solid RGBA(34, 34, 34, 0.2);
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
      &:hover {
        text-decoration: underline;
        color: RGBA(25, 74, 255, 1);
      }
    }
  }
}

@media (max-width: $toast-breakpoint-small) {
  .nav {
    text-align: center;
    .site-map {
      text-align: center;
      margin-top: 20px;
    }
  }
}
