/* Sidebar
   ========================================================================== */
[off-canvas] {
	 	background-color: #dfdfdf;
	 }
[canvas=container],[off-canvas] {
	padding: 10px 20px;
}
[class*=js-] {
	cursor: pointer;
}

.sidebar {
	padding-top: 50px;
	padding-left: 0;
	.active {
		background-color: rgba(45, 45, 45, 0.1);
	}
	li {
		padding-top: 10px;
	}
	ul {
		padding-left: 0;
	}
}
.sidebar li {
	list-style: none;
	padding-bottom: 10px;

}
.sidebar li a {
	text-decoration: none;
	color: #282828;
	padding-left: 40px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}
.sidebar li a:hover {
	text-decoration: underline;
	color: rgba(0, 54, 255,0.9) !important;

}
.bottom {
	position: absolute;
	bottom: 5px;
	width: 100%;
	padding-left: 20px;


	a {
		text-decoration: none;
	}
}
